head
	meta(charset='utf-8')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	meta(name='description', content=site.description)
	meta(name='author', content=site.author)
	meta(name='robots', content='index,follow')
	link(rel='canonical', href=site.url)
	title= page.title
	link(rel='stylesheet', href='/css/site.min.css')
