include /data/site.jade

block pageData
	- var page = {}
	- page.url = site.url + '/blog/' + slug + '.html'
	- page.title = title

doctype html
html(lang='pt-BR')
	include /includes/head.jade
	body
		h1= title
		h2= author
		div!= content
		include /includes/scriptsTag.jade
