block pageData
	- var page = {}
	- page.path = '/'
	- page.version = '{{version}}'
	- page.title = site.title
	
extends /templates/default.jade

block content
	ul
		each post in blog.posts
			li
				a(href='/blog/' + post.slug + '.html').post-title= post.title
				.post-date= post.date
