block pageData
	- var page = {}
	- page.path = '/blog'
	- page.url = site.url + page.path
	- page.title = site.title

extends /templates/default.jade

block content
	ul
		each post in blog.posts
			li
				a.post-title(href='/blog/' + post.slug + '.html')= post.title
				.post-date= post.date
