block pageData
	- var page = {}
	- page.path = '/404.html'
	- page.url = site.url + page.path
	- page.title = site.title

extends /templates/default.jade

block content
	div= 'Ooops something went wrong'
