block pageData
	- var page = {}
	- page.path = '/'
	- page.version = '{{version}}'
	
extends /templates/default.jade

block content
	.container
		.row
			.col-xs-12.col-sm-4
				.col-xs-6
				.col-xs-6
			.col-xs-12.col-sm-4
			.col-xs-12.col-sm-4
			.col-xs-12.col-sm-6
			.col-xs-12.col-sm-6
			.col-xs-12.col-sm-12
