/* Non-Semantic Grid */
@mixin columns($i, $columns: $columns) {
  width: 100% * (((($gutter-width+$column-width)*$i)-$gutter-width) / $gridsystem-width);
}

[class*=col] {
  border: 1px solid blue;
  float: left;
  margin: 0 (100%*($gutter-width*.5))/$gridsystem-width;
  position: relative;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    @include columns($i);
  }
}

.container {
  @extend %clearfix;
  margin: 0 auto;
  max-width: 1040px;
}
