/* Grid */
.container {
	@include clearfix();
	margin-left: auto;
	margin-right: auto;
	max-width: map-get($sizes, xxl);
	padding-left: $gutter-width;
	padding-right: $gutter-width;
}

.row {
	@include clearfix();
	margin-left: -$gutter-width;
	margin-right: -$gutter-width;
}

%columns {
	float: left;
	padding-left: $gutter-width;
	padding-right: $gutter-width;
	position: relative;
}

@each $size, $querie in $sizes {
	@include media-querie($querie) {
		@for $i from 1 through $columns {
			.col-#{$size}-#{$i} {
				@extend %columns;
				@include make-column($i);
			}
		}

		@for $i from 1 through ($columns - 1) {
			.col-#{$size}-push-#{$i} {
				@include make-push-column($i);
			}
		}

		@for $i from 1 through ($columns - 1) {
			.col-#{$size}-pull-#{$i} {
				@include make-pull-column($i);
			}
		}
	}
}
