/* Grid
======================================== */

@mixin make-container() {
	@include clearfix();
	margin-left: auto;
	margin-right: auto;
	max-width: map-get($sizes, xxl);
	padding-left: $gutter-width;
	padding-right: $gutter-width;
}

@mixin make-row() {
	@include clearfix();
	margin-left: -$gutter-width;
	margin-right: -$gutter-width;
}

@mixin make-column($cols) {
	width: $total-width * (($column-width * $cols) / $gridsystem-width);
}

@mixin make-push-column($offset) {
	margin-left: $total-width * (($column-width * $offset) / $gridsystem-width);
}

@mixin make-pull-column($offset) {
	margin-right: $total-width * (($column-width * $offset) / $gridsystem-width);
}

.container {
	@include make-container();
}

.row {
	@include make-row();
}

.col {
	float: left;
	padding-left: $gutter-width;
	padding-right: $gutter-width;
	position: relative;
}

@each $size, $width in $sizes {
	@include media-querie-min($size) {
		@for $i from 1 through $columns {
			.col-#{$size}-#{$i} {
				@include make-column($i);
			}
		}
	}
}
