/* Grid
======================================== */
@if ($pre-generated-grid) {
	.container {
		@include make-container();
	}

	.row {
		@include make-row();
	}

	.col {
		padding-left: $gutter-width;
		padding-right: $gutter-width;
		position: relative;
		@if ($floated-grid) {
			float: left;
		} @else {
			display: inline-block;
			vertical-align: top;
		}
	}

	@each $size, $width in $sizes {
		@include media-querie-min($size) {
			@for $i from 1 through $columns {
				.col-#{$size}-#{$i} {
					@include make-column($i);
				}
			}
		}
	}
}
