/* Grid
======================================== */

.container {
	@include make-container();
}

.row {
	@include make-row();
}

.col {
	float: left;
	padding-left: $gutter-width;
	padding-right: $gutter-width;
	position: relative;
}

@each $size, $width in $sizes {
	@include media-querie-min($size) {
		@for $i from 1 through $columns {
			.col-#{$size}-#{$i} {
				@include make-column($i);
			}
		}
	}
}
