/* Mixins and constructors
======================================== */

@mixin clearfix() {
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}

@mixin make-container() {
	@include clearfix();
	margin-left: auto;
	margin-right: auto;
	max-width: map-get($sizes, xxl);
	padding-left: $gutter-width;
	padding-right: $gutter-width;
}

@mixin make-row() {
	@include clearfix();
	margin-left: -$gutter-width;
	margin-right: -$gutter-width;
}

@mixin make-column($cols) {
	width: $total-width * (($column-width * $cols) / $gridsystem-width);
}

@mixin make-push-column($offset) {
	margin-left: $total-width * (($column-width * $offset) / $gridsystem-width);
}

@mixin make-pull-column($offset) {
	margin-right: $total-width * (($column-width * $offset) / $gridsystem-width);
}

@mixin media-querie-min($size) {
	@if (map-get($sizes, $size) > 0) {
		@media (min-width: map-get($sizes, $size)) {
			@content;
		}
	} @else {
		@content
	};
}

@mixin media-querie-max($size) {
	@if (map-get($sizes, $size) > 0) {
		@media (max-width: (map-get($sizes, $size) - 1px)) {
			@content;
		}
	}
}
