/* Mixins and constructors
======================================== */

@mixin clearfix() {
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}

@mixin media-querie($size) {
	@if (map-get($sizes, $size) > 0) {
		@media (min-width: map-get($sizes, $size)) {
			@content;
		}
	} @else {
		@content
	}
}
