/* Reset
======================================== */
html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
em,
img,
ins,
small,
strike,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
input,
optgroup,
select,
textarea,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	border: 0;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

blockquote:before,
blockquote:after {
	content: '';
}

textarea {
	overflow: auto;
}

blockquote {
	quotes: '""';
}

sub,
sup {
	font-size: 0.7em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

button[disabled],
html input[disabled] {
	cursor: default;
}
