-
	var blog = {
		'posts' : [
			{
				'title' : 'Draft post 1',
				'slug' : 'draft-post-1',
				'date' : '09/01/2016'
			},
			{
				'title' : 'Draft post 2',
				'slug' : 'draft-post-2',
				'date' : '09/02/2016'
			}
		]
	}
