- var site = {}
- site.title = 'Jade Boilerplate'
- site.description = 'This is a boilerplate for site construction using Jade'
- site.author = 'Thiago Oliveira'
- site.keywords = 'Jade, templating engine, NodeJs, Javascript'
- site.url = 'http://yoursite.com'
