-
	var site = {
		'title' : 'Static Jade Boilerplate',
		'description' : 'This is a boilerplate for site construction using Jade, Sass and Gulp',
		'author' : 'Your Name',
		'url' : 'http://yoursite.com',
		'version' : '{{version}}'
	}
