- var site = {}
- site.title = 'Static Jade Boilerplate'
- site.description = 'This is a boilerplate for site construction using Jade, Sass and Gulp'
- site.author = 'Your Name'
- site.keywords = 'Jade, NodeJs, Sass, Gulp'
- site.url = 'http://yoursite.com'
